.wrapper{
	margin: 0 auto;
	padding-top: 100px;
	width: 500px;
	font-family: Helvetica, Arial, sans-serif;
}
#field{
	border: 2px solid #c4c4c4;
	padding: 4px;
	border-radius: 3px;
	background-color: #d3d3d3;
	overflow: hidden;
	position: relative;
}
.cell{
	background-color: #fff;
	color: #000;
	width: 120px;
	height: 120px;
	border: 1px solid #222;
	float: left;
}
.elem{
	background-color: #E6B522;
	width: 112px;
	height: 112px;
	border-radius: 3px;
	position: absolute;
	text-align: center;
	vertical-align: middle;
	line-height: 112px;
	font-size: 36px;

}