<!doctype html>
<html manifest="manifest.appcache" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body ng-controller="field as field" ng-keyup="move($event)">
	{{field.code}}
	<div class="wrapper">
		<div id="field">
			<div class="cell" ng-repeat="elem in field.elements"> </div>
			<div class="elem" ng-show="value.val" ng-repeat="(key, value) in field.elements" style="top: {{field.Math.floor(key / 4)*122 + 9}}px; left: {{(key % 4)*122 + 9}}px">{{value.val}} </div>
		</div>
	</div>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/newscript.js"></script>
</body>
</html>